@import "tailwindcss";
*{
    @apply transition-all
}

@theme{
    --color-primary:#155dfc
}

button{
    @apply cursor-pointer
}

.button-normal{
    @apply
    border rounded-md
    p-2
    bg-blue-600
    text-white
    hover:bg-blue-600/80 active:bg-blue-600/50
    hover:text-white active:text-white
}

.button-outline{
    @apply
    border rounded-md
    p-2
    text-blue-600
    border-blue-600
    hover:bg-blue-600 active:bg-blue-600
    hover:text-white active:text-white
}

.interactive-animation{
    @apply
    hover:scale-110 active:scale-110
}

.items-navbar-mobile{
    @apply
    p-1.5
    cursor-pointer
    hover:translate-x-1.5 active:translate-x-1.5
    hover:text-primary active:text-primary
}

.items-navbar-desktop{
    @apply
    p-1.5
    cursor-pointer
    hover:scale-105
   hover:text-primary active:text-primary
}
